.game-buttons {
    margin-top: 30px;
}

.messages {
    margin-top: 15px;
    max-height: 400px;
    overflow: auto;
}

.message {
    background-color: #fefdfc;
}

.message.active {
    background-color: #fbfaf0;
}

.message-action {
    margin-left: 5px;
    margin-right: 5px;
    display: none;
}

.message-coord {
    background-color: #f0fafb;
}
