.collection-header,
.collection-header:focus,
.collection-header:hover {
    color: inherit;
    text-decoration: none;
}

.collection-header .collection-open,
.collection-header.collapsed .collection-close {
    display: none;
}

.collection-header.collapsed .collection-open {
    display: inherit;
}

.tsumego-item {
    margin-top: 4px;
    margin-bottom: 4px;
}

.tsumego-item.tried {
    list-style-type: none;
}
.tsumego-item.tried:before {
    content: "✓";
    color: #151;
    margin-left: -1em;
}

.external-link {
    margin-left: 0.1em;
    font-size: 0.9em;
}
