{% extends "base.html" %}
{% load staticfiles %}
{% block title %}9x9 Move Explorer Beta{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/go.css' %}">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <h2 class="text-center">9x9 Board Explorer Beta</h2>
                <div id="board" class="noselect"></div>
            </div>
            <div class="row game-buttons center-block text-center">
                <a href="{% url 'go9x9_empty' %}" class="btn btn-default">
                    <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
                </a>
                <button id="undo" class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </button>
                <button id="pass" class="btn btn-default">pass</button>
                <button id="next" class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </button>
                <button id="end" class="btn btn-default">
                    <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row game-buttons">
                <h4>Vote on the last move</h4>
                <div class="btn-group btn-group-justified votes" data-toggle="buttons">
                    <label class="btn btn-success btn-great-success vote" disabled>
                        <input type="radio" id="ideal" name="vote" value="ideal" autocomplete="off"></input>ideal<span></span>
                    </label>
                    <label class="btn btn-success vote" disabled>
                        <input type="radio" id="good" name="vote" value="good" autocomplete="off"></input>good<span></span>
                    </label>
                    <label class="btn btn-warning vote" disabled>
                        <input type="radio" id="trick" name="vote" value="trick" autocomplete="off"></input>trick<span></span>
                    </label>
                    <label class="btn btn-danger vote" disabled>
                        <input type="radio" id="bad" name="vote" value="bad" autocomplete="off"></input>bad<span></span>
                    </label>
                    <label class="btn btn-primary vote" disabled>
                        <input type="radio" id="question" name="vote" value="question" autocomplete="off"></input>question<span></span>
                    </label>
                </div>
            </div>
            <div id="tree_row" class="row">
                <p>Tree score: <span id="score"></span></p>
            </div>
            <div class="row">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#stats_tab" aria-controls="stats_tab" role="tab" data-toggle="tab">Statistics</a></li>
                <li role="presentation"><a href="#game_tab" aria-controls="game_tab" role="tab" data-toggle="tab">Game Information</a></li>
                <li role="presentation"><a href="#position_tab" aria-controls="position_tab" role="tab" data-toggle="tab">Position Comments</a></li>
                <li role="presentation" class="disabled"><a href="#transition_tab" aria-controls="transition_tab" role="tab" data-toggle="tab">Move Comments</a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="stats_tab">
                    <h4>Statistics for the next move</h4>
                    <table cellspacing="1" cellpadding="0" border="0" class="table table-bordered">
                        <tbody id="statistics"></tbody>

                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="game_tab">
                    <h4>Game information</h4>
                    <button id="previous_game" class="btn btn-primary" disabled>
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </button>
                    <button id="next_game" class="btn btn-primary" disabled>
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </button>
                    <table cellspacing="0" cellpadding="0" border="0" class="table table-striped">
                        <tbody id="game_info"></tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="position_tab">
                    <h4>Comments on the position</h4>
                    <p>Hei vaan</p>
                </div>
                <div role="tabpanel" class="tab-pane" id="transition_tab">
                    <h4>Comments on the last move</h4>
                    <p>Jaahas. Ei oo kyl joseki tää.</p>
                </div>
              </div>
            </div>
            <div class="row game-buttons">
                <p id="status"></p>
                <button id="resolve" class="btn btn-default hidden">resolve</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        window.link_url = "{% url 'go9x9' code %}";
        window.json_url = "{% url 'go9x9_json' code %}";
        window.end_json_url = "{% url 'go9x9_end_json' code %}";
        window.game_json_url = "{% url 'go9x9_game_json' code 1 %}";
    </script>
    <script type="text/javascript" src="{% static 'js/go9x9.js' %}"></script>
{% endblock %}
