{% extends "base.html" %}
{% block content %}
    <h2>Perfectly solved go problems with move limits</h2>
    <h3>Rules</h3>
    <ol>
        <li>Chinese rules where all dead stones must be removed from the board manually (liberty scoring).</li>
        <li>Remember that captures do not count towards or against the score.</li>
        <li>There is no super-ko rule.</li>
        <li>You're simply supposed to achieve a result in a certain number of moves. So avoid those loops at all costs!</li>
        <li>Game ends after two passes.</li>
        <li>Clearing a ko with a pass doesn't count towards ending the game.</li>
    </ol>
    <ul>
    <h3>Available boards</h3>
    {% for endgame_type in endgame_types %}
        <li>
            <a href="{% url 'go_empty' endgame_type %}">{{ endgame_type }}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
