{% extends "base.html" %}
{% block content %}
    <div class="row">
        <h2>Collaborative game exploration</h2>
        <ul>
            <li><a href="{% url 'go9x9_empty' %}">Board Explorer 9&times;9</a></li>
        </ul>
        <h2>Perfectly solved go positions</h2>
        <ul>
            <li><a href="{% url 'tsumego_problems' %}">Problems</a></li>
            <li><a href="{% url 'tsumego_index' %}">Templates (make your own problems)</a></li>
            <li><a href="{% url 'tsumego_faq' %}">FAQ</a></li>
        </ul>
        <p>There probably should be a donate button somewhere around here. The servers don't run themselves, you know. In the mean time have $10 worth of credit on <a href="https://www.digitalocean.com/?refcode=714c4c1dc08a">DigitalOcean</a> cloud hosting. (If you follow the link with the ref code intact I get $25 once you've spent $25. This helps cover the hosting costs.)</p>
        <p>If you have any comments, questions or bug reports, feel free to contact me at <a href="mailto:lumi.pakkanen@gmail.com">lumi.pakkanen@gmail.com</a>.</p>
    </div>
{% endblock %}
