{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Tsumego{% endblock %}
{% block extra_css %}
    {% if development %}
        <link rel="stylesheet/less" type="text/css" href="{% static 'less/tsumego.less' %}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'compiled/tsumego.css' %}">
    {% endif %}
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/fetch.min.js' %}"></script>
    <script src="{% static 'build/react.js' %}"></script>
    <script src="{% static 'build/react-dom.js' %}"></script>
    {% if development %}
        <script src="{% static 'js/less.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    {% endif %}
    <script type="text/javascript">
        window.state = {{ state|safe }};
        window.problem_options = {{ problem_options|safe }};
        window.problem_mode = {{ problem_mode|safe }};
        window.debug = {{ debug|safe }};
        window.json_url = "{% url 'tsumego_json' %}";
    </script>
    {% if development %}
        <script type="text/babel" src="{% static 'jsx/tsumego.jsx' %}"></script>
    {% else %}
        <script src="{% static 'compiled/tsumego.min.js' %}"></script>
    {% endif %}
{% endblock %}
