{% extends "base.html" %}
{% block title %}Go problems{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Problems</h1>
            {% for collection in collections %}
                <h2>{{ collection.name }}</h2>
                <ul>
                {% for problem in collection.problems %}
                    <li><a href="{{ problem.url }}">{{ problem.name }}</a> <small>({{problem.elo|floatformat:1}})</small></li>
                {% endfor %}
                </ul>
            {% endfor %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="collection_name">Create new collection</label>
                    <input type="text" class="form-control" placeholder="Collection name" id="collection_name" name="name">
                </div>
                <button type="submit" class="btn btn-defaul">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
