{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Tsumego templates{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/tsumego.css' %}">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Go problems / Tsumego</h1>
            <ul>
                <li><a class="h3" href="{% url 'tsumego_problems' %}">Browse the problem collections</a></li>
                <li>
                    <h3>Compose your own problems / explore solutions</h3>
                    <h4>Available templates</h4>
                    <ul>
                        {% for template in templates|dictsort:"name" %}
                            <li class="tsumego-item">
                                <a href="{% url 'tsumego_empty' template.name %}">
                                    <img
                                        src="{% url 'tsumego_image' template.state.playing_area template.state.black template.state.white %}"
                                        width="{{ template.thumbnail.0 }}"
                                        height="{{ template.thumbnail.1 }}"
                                    >
                                    {{ template.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
